<table width="100pixels" border="5" cellspacing="0" cellpadding="0" align="">
<tbody>
<tr>
<% page = 0  #Ужасные костыли 
%>
<% session[:quest_id].map { |quests| %>
<% puts quests %>
<% if quests.has_value?(0)  %>

<td><%= link_to "-", :action => :testing, :id => page %></td>
<% else %>
<td><%= link_to "+", :action => :testing, :id => page %></td>
<% end %>
<% page+=1 } %>


</tr></tbody></table>