Вопрос и файл с ответом на него успешно сохранены в базу данных
%br
Для того что бы увидеть изменения обновитестраницу.
%br
Если вы хотите изменить проверочный файл то пройдите по следующей ссылке:
%br
= link_to "Назад", admin_upload_path(quest_id)