%div{:align=>"center"}
  = link_to 'Тесты', admin_tests_path ,:class=>"btn btn-info btn-large"
  = link_to "Пользователи", admin_users_path,:class=>"btn btn-info btn-large"
  = link_to "На главную", root_path,:class=>"btn btn-success btn-large"