<%= link_to "Пользователи", :action => :show %>
<h1>Управление тестами :</h1>
<div class="table">
  <%=  render("/shared/test_admin") %>
  <%= will_paginate @tests %>
  <%= link_to "New test", :controller => :tests, :action => :new %>
</div>

