
%h2{:align=>"center"}
  Результаты теста "#{@test.title}"
.table.table-hover
  %table{:align=>"center"}
    %tr
      %th
        %h4 Пользователь
      %th
        %h4 Количество балов
    - @results.each do |result|
      %tr
        %td
          - @users = User.find(result.user_id)
          = @users.f_name
          = @users.l_name
        %td
          = result.bal
%div{:align=>"center"}=link_to('Назад', admin_tasks_path, :class => "btn btn-primary")