<h1>Здравствуйте:  </h1>
<div class="table">
  <table>
    <% @tests.each do |test| %>

        <tr>
          <td>
            <h2>Тест №<%= test.id %></h2>
            <%= test.title %>
          </td>
          <td>
            <%= test.description %>
          </td>
          <td>
          </td>
          <td>

          </td>
        </tr>
    <% end %>
  </table>
</div>

