      <div class="container">
        <img src="http://placehold.it/100x30">
        <% if user_signed_in? %>
        <%= link_to('Выход', destroy_user_session_path, :method=>'delete', :class => "btn pull-right") %>
            <% end %>
    </div>
 <% #render 'navigation' 
 #flash.each do |name, msg| 
 #content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	 