%dl
  - @tests.each do |test|
    %dt= test.title
    %dd
      = test.description
      \#{button_to "Пройти", {:controller=> :test_using, :action => :show, :id => test.id}, :class => "btn pull-right btn-primary btn-mini", :method => 'get'}
