
<%= link_to('Назад', admin_tests_path, :class => "btn pull-right") %>
<h1>Вопросы к тесту: <%= @test.title  %></h1>
<div class="table">
  <%=  render("/shared/questions_admin") %>
</div>
<a href="#" id="add">Добавить вопрос</a>
<div id="content"></div>
<div id="test_id"><%= hidden_field_tag  "quest[test_id]", @test.id %></div>
<div id="form_data"></div>

  <div id="form">
      <div id="quest" class="quest">

      </div>
    <div id="answers" class="answers">

    </div>

      </div>
<div id="send"></div>







