= link_to('Назад', admin_tests_path, :class => "btn pull-right")
%h1
  Вопросы к тесту: #{@test.title}
.table
  = render("/shared/questions_admin")
%a#add{:href => "#"} Добавить вопрос
#content
#test_id= hidden_field_tag  "quest[test_id]", @test.id
#form_data
#form
  .quest
  .answers
#send







