Првиетствую тебя мой юный <%= @user.email %> я вывожу тебе мыло. так как имя нет в базе твоего))
<br> Мой юный падаван если хочешь просмотреть свои прежнии успехи, кликни сдесь <%= link_to "Просотр", { :controller => :user, :action => :rezult}, :class => "btn pull-right btn-primary btn-mini"  %> 
<h2 class="page-header">Выберите нужный тест
             </h2>
<div class="pull-left container">

<%= render "shared/list_test" %>

</div>