<p align ="right" class="text-info">Приветствую тебя, <%=@user.l_name %> <%= @user.f_name %>!</p>

<h2 align ="center">Выберите нужный тест
</h2>
<div class="pull-left container">

<%= render "shared/list_test" %>
<div class="flickr_pagination"><%= will_paginate @tests %></div>
</div>