/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header nav ul {
list-style: none;
margin: 0 0 2em;
padding: 0;

}
header nav ul li {
display: inline;
}
#flash_notice, #flash_alert {
padding: 5px 8px;
margin: 10px 0;
}
#flash_notice {
background-color: #CFC;
border: solid 1px #6C6;
}
#flash_alert {
background-color: #FCC;
border: solid 1px #C66;
}

html,body{
    margin:0;
    padding:0;
    }

div#header {
    position: relative;    
}

div#header h1{
    height:80px;
    line-height:80px;
    margin:0;
    padding-left:10px;
    background: #EEE;
    color: #000
}

div#container {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}

div#content {
    float: right;
    width: 500px;
}
div#content p {
    line-height: 1.4;
}

div#navigation {
    text-align: center;
    background: #ccc;
    float: left;
    width: 300px;
    
}
