= link_to('Назад', admin_users_path, :class => "btn pull-right")
%h2
  Результаты пользователя "#{@user.email}"
.table
  %table
    %tr
      %th
        %h4 Тест
      %th
        %h4 Количество балов
    - @results.each do |result|
      %tr
        %td
          = result.test.title
        %td
          = result.bal