%h1{:align=>"center"} Управление тестами :
.table
 = render("/shared/test_admin")
.flickr_pagination=will_paginate @tests
= link_to "Создать новый тест", new_admin_test_path, :class=>"btn btn-primary pull-right"