<div class="content">
	<p> Здраствуйте. Вы выбрали тест <%= @test.title %></p>
	<p>На его прохождение у вас есть <%= @test.time %> секунд</p>
	<p>При начале прохождения его у вас снимиться одна попытка</p>
	<%= link_to "Начать тестирование", :controller => :quests, :action =>:testing, :id=> 0 %>
</div>